<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">元类型</th>
      <td><%=META_TYPE%></td>
      <th width="120" style="background-color: #f9f9f9;">类型别名</th>
      <td><%=TYPE_ALIAS%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">分类</th>
      <td><%=TYPE_CATEGORY%></td>
      <th width="120" style="background-color: #f9f9f9;">名称</th>
      <td><%=TYPE_NAME%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">描述</th>
      <td colspan="3"><%=TYPE_DESC%></td>
    </tr>
  </tbody>
</table>