<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">单位</th>
      <td><%=org_id%></td>
      <th width="120" style="background-color: #f9f9f9;">小队</th>
      <td><%=team%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">专业</th>
      <td colspan="3"><%=specialty%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">管道</th>
      <td colspan="3"><%=pipe_id%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">阀组名称</th>
      <td colspan="3"><%=valveblock%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">维修设备</th>
      <td><%=repair_equip%></td>
      <th width="120" style="background-color: #f9f9f9;">设备数量</th>
      <td><%=equip_num%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">维修内容</th>
      <td colspan="3"><%=repair_content%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">计划整改时间</th>
      <td><%=plan_start_time%> - <%=plan_end_time%></td>
      <th width="120" style="background-color: #f9f9f9;">整改完成时间</th>
      <td><%=reform_finish_time%></td>
    </tr>
  </tbody>
</table>