<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">申请单位</th>
      <td><%=ask_org%></td>
      <th width="120" style="background-color: #f9f9f9;">申请日期</th>
      <td><%=ask_date%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">项目名称</th>
      <td><%=instrument%></td>
      <th width="120" style="background-color: #f9f9f9;">规格型号</th>
      <td><%=specification%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">数量</th>
      <td><%=num%></td>
      <th width="120" style="background-color: #f9f9f9;">内容</th>
      <td><%=content%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">结论</th>
      <td colspan="3"><%=conclusion%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">维修计划</th>
      <td colspan="3"><%=repair_plan%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">服务单位</th>
      <td><%=service_org%></td>
      <th width="120" style="background-color: #f9f9f9;">服务电话</th>
      <td><%=service_org_phone%></td>
    </tr>
  </tbody>
</table>