<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">申请单位</th>
      <td><%=ask_org%></td>
      <th width="120" style="background-color: #f9f9f9;">申请日期</th>
      <td><%=ask_date%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">器具名称</th>
      <td><%=instrument%></td>
      <th width="120" style="background-color: #f9f9f9;">规格型号</th>
      <td><%=specification%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">使用地点</th>
      <td><%=use_address%></td>
      <th width="120" style="background-color: #f9f9f9;">维修内容</th>
      <td><%=maintain_content%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">维修结果</th>
      <td colspan="3"><%=repair_result%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">服务单位</th>
      <td><%=service_org%></td>
      <th width="120" style="background-color: #f9f9f9;">服务电话</th>
      <td><%=service_phone%></td>
    </tr>
  </tbody>
</table>