<table class="table table-bordered">
  <tbody>
  	<tr>
      <th width="120" style="background-color: #f9f9f9;">操作单位/th>
      <td><%=operate_org%></td>
      <th width="120" style="background-color: #f9f9f9;">操作类型</th>
      <td colspan="2"><%=operate_type%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">用户名称</th>
      <td colspan="4"><%=custom_name%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">供气原因</th>
      <td colspan="4"><%=reason%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">供气时间</th>
      <td colspan="4"><%=plan_provide_time%> - <%=plan_stop_time%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">供气地点</th>
      <td colspan="4"><%=address%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">值班调度</th>
      <td><%=duty_person%></td>
      <th width="120" style="background-color: #f9f9f9;">操作人员</th>
      <td><%=operator%></td>
    </tr>
  </tbody>
</table>