<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">申请单位</th>
      <td colspan="4"><%=ask_org_id%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">使用时间</th>
      <td colspan="4"><%=use_start_time%> - <%=use_end_time%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">使用地点</th>
      <td colspan="4"><%=use_position%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">工作内容</th>
      <td colspan="4"><%=work_content%></td>
    </tr>
    <tr>
    	<th width="120" style="background-color: #f9f9f9;" rowspan="2">技术参数</th>
      <th width="120" style="background-color: #f9f9f9;">氮气浓度</th>
      <td><%=nitrogen_density%></td>
      <th width="120" style="background-color: #f9f9f9;">氮气压力</th>
      <td><%=nitrogen_pressure%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">氮气温度</th>
      <td><%=nitrogen_temperature%></td>
      <th width="120" style="background-color: #f9f9f9;">用气量</th>
      <td><%=nitrogen_usesize%></td>
    </tr>
  </tbody>
</table>