<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">单位</th>
      <td><%=org_id%></td>
      <th width="120" style="background-color: #f9f9f9;">小队</th>
      <td><%=team%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">专业</th>
      <td><%=specialty%></td>
      <th width="120" style="background-color: #f9f9f9;">巡线工姓名</th>
      <td><%=patrolman_name%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">管道</th>
      <td colspan="3"><%=pipe_id%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">异常情况</th>
      <td colspan="3"><%=exception%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">发现位置描述</th>
      <td colspan="3"><%=position_desc%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">发现时间</th>
      <td><%=find_time%></td>
      <th width="120" style="background-color: #f9f9f9;">GPS坐标</th>
      <td><%=GPS%></td>
    </tr>
    <tr>
      <th width="120" style="background-color: #f9f9f9;">计划整改时间</th>
      <td><%=plan_reform_time%></td>
      <th width="120" style="background-color: #f9f9f9;">整改完成时间</th>
      <td><%=reform_finish_time%></td>
    </tr>
  </tbody>
</table>